
* {
  box-sizing: border-box;
  text-decoration: none
}

body {
  background-color: #918ef4;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #141b41;
  line-height: 1.5;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0a0c1f;
}



header {
  margin-top: 50px;
}

main {
  margin: 20px auto;
  width: 94%;
}


p {
  font-size: 1.2rem;
}

input {
    width: 100%;
    margin: 0 0 5px;
    padding: 10px;
}

.title {
  font-size: 3rem;
  background-color: #306bac;
  padding: 0 10px;
  text-align:center;
  margin: 0 auto;  
}



.btn {
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 10px 0;
  color: #0c1311;
  background-color: #dcdafb;
}

.li {
  display: inline;
}

.navbar {
  width: 100%;
  position: fixed;
  background-color: #0a0c1f;
  text-align: left;
}

.nav-item {
  margin: 0 20px;
}

.nav-item a {
  color: #918ef4;
}


.title a {
  color: #0a0c1f;
}


.item {
  margin-bottom: 10px;
  padding: 1.5%;
  background-color: #98b9f2;
  color: #0c1311;
}


.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.col-auto {
  flex-grow: 1;
}


.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.card {
  margin: 0 0 20px 0;
  border: 3px solid black;
}

.card-header {
  background-color: #98b9f2;
  padding: 1%;
}

.card-body {
  padding: 1%;
}


.input {
  width: 100%;
  padding: 1%;
  margin: 5px 0;
  border: 2px solid black;
}

a:link {
  color:inherit;
}
